.home-page {
  text-align: center;
  padding-top: 300px;
  .home-link {
    color: white;
    font-size: 50px;
  }
}

.shout-out-text {
  color: white !important;
  word-break: keep-all !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.shout-out-container {
  width: 400px !important;
  text-align: left !important;
}

.meme-page-empty {
  text-align: center;
  h1 {
    color: white;
    padding-top: 200px;
    margin-bottom: 50px;
  }
}

.meme-page {
  .meme-btn {
    margin: 30px;
    width: 60%;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
  }
  .meme-page-hashtag {
    margin: 5px;
  }
  .meme-input {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
  }
  .meme-btn-group {
    text-align: center;
    margin-top: 80px;
  }
  .meme-img-col {
    text-align: center;
  }
  .meme-img {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
    margin-top: 100px;
    max-width: 85%;
    max-height: 400px;
    border-radius: 10px;
  }
  .meme-contribute-link {
    color: white;
  }
}

.comment-page {
  text-align: center;
  .comment-title {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .comment-subtitle {
    color: white;
    margin-bottom: 10px;
  }
  .comment-img-textarea-container {
    width: 70%;
    margin-left: 15%;
  }
  .comment-img {
    max-width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 120px;
  }
  .comment-hashtag {
    margin: 5px;
  }
  .comment-error {
    color: white;
  }
  .comment-back {
    color: white;
    display: block;
    height: 100%;
  }
  .comment-back-container {
    margin-top: 0px;
  }
  .comment-page-secondary-container {
    padding-top: 100px;
  }
  .comment-textarea {
    width: 100%;
    border-radius: 5px;
  }
  .comment-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
    width: 67%;
  }
}

.statistics-page {
  text-align: center;
  padding-top: 5px;
  .statistics-title {
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .statistics-viz-group {
    width: 80%;
    margin-left: 10%;
  }
  .statistics-img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 150px;
  }
  .statistics-chart-container {
    width: 100%;
    margin-top: 20px;
    .statistics-chart {}
  }
  .statistics-link {
    display: block;
    height: 100%;
    width: 100%;
  }
  .statistics-btn-group {
    text-align: center !important;
  }
  .statistics-btn {
    width: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
  }
  .statistics-btn-nav {
    width: 30%;
    margin: 20px;
  }
  .statistics-comment-group {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
  }
  .share-text {
    color: white;
    padding-top: 5px;
  }
  .facebook-share {
    width: 100%;
    background-color: #3b5998;
    color: #ffffff;
  }
  .google-share {
    width: 100%;
    background-color: #d34836;
    color: #ffffff;
  }
  .twitter-share {
    width: 100%;
    background-color: #1DA1F2;
    color: #ffffff;
  }
  .whatsapp-share {
    width: 100%;
    background-color: #25D366;
    color: #ffffff;
  }
  .pinterest-share {
    width: 100%;
    background-color: #BD081C;
    color: #ffffff;
  }
}

.contribute-page {
  text-align: center;
  padding-top: 80px;
  .contribute-title {
    color: white;
    margin-top: 30px;
  }
  .contribute-ai-msg {
    color: white;
    margin: 0px;
    padding: 0px;
  }
  .contribute-subtitle {
    color: white;
  }
  .contribute-dropbox {
    width: 50%;
    margin-left: 25%;
  }
  .contribute-dropbox {
    .dropzone.dz-clickable {
      background-color: white;
      opacity: 0.7;
    }
    .dz-progress {
      display: None;
    }
  }
  .contribute-msg {
    color: white;
    margin: 0px;
    padding: 0px;
  }
  .contribute-meme-generator-link {
    display: block;
    height: 100%;
  }
  .contribute-meme-generator-link-container {
    margin-top: 0px;
  }
  .contribute-btn {
    width: 50%;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
    margin-top: 15px;
  }
  .contribute-cancel-link {
    display: block;
    height: 100%;
    color: white;
  }
  .contribute-cancel-link-container {
    margin-top: 0px;
  }
}
