.home-page {
  text-align: center;
  padding-top: 200px;
  .home-link {
    color: white;
    font-size: 30px;
  }
}

.meme-page {
  .meme-btn {
    margin: 30px;
    width: 50%;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
  }
  .meme-btn-group {
    text-align: center;
    margin-top: 120px;
  }
  .meme-img-col {
    text-align: center;
  }
  .meme-img {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.5);
    margin-top: 100px;
    width: 80%;
    border-radius: 10px;
  }
  .meme-contribute-link {
    color: white;
  }
}

.comment-page {
  text-align: center;
  .comment-page-secondary-container {
    padding-top: 100px;
  }
  .comment-textarea {
    width: 70%;
    border-radius: 15px;
  }
  .comment-btn {
    margin-top: 30px;
    width: 70%;
  }
}

.statistics-page {
  text-align: center;
  padding-top: 100px;
  .statistics-title {
    color: white;
    margin: 30px;
  }
  .statistics-btn-group {
    text-align: center !important;
  }
  .statistics-btn {
    width: 100%;
  }
  .statistics-btn-nav {
    width: 30%;
    margin: 20px;
  }
  .statistics-comment-group {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
  }
}

.contribute-page {
  text-align: center;
  padding-top: 100px;
  .contribute-title {
    color: white;
    margin: 30px;
  }
  .contribute-dropbox {
    width: 80%;
    margin-left: 10%;
  }
  .contribute-btn {
    width: 80%;
    margin-top: 20px;
  }
  .contribute-cancel-link {
    color: white;
  }
  .contribute-cancel-link-container {
    margin-top: 20px;
  }
}
